@model IEnumerable<Brigadier.Web.Models.SubredditModel>

<h2>@ViewBag.Title</h2>

<section>
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Url</th>
                <th>Most-linked By</th>
                <th>Most-linked To</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sub in Model)
            {
                <tr>
                    <td>@sub.Id</td>
                    <td><a href="https://www.reddit.com/r/@sub.Url" target="_blank">@sub.Url</a></td>
                    <td>
                        <ul>
                            @foreach (var pair in sub.Incoming)
                            {
                                <li><a href="https://www.reddit.com/r/@pair.Key" target="_blank">@pair.Key</a> (@pair.Value)</li>
                            }
                        </ul>
                    </td>
                    <td>
                        <ul>
                            @foreach (var pair in sub.Outgoing)
                            {
                                <li><a href="https://www.reddit.com/r/@pair.Key" target="_blank">@pair.Key</a> (@pair.Value)</li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>